@font-face {
    font-family: 'montserrat';
    src: url('montserrat-v15-latin-regular.woff2') format('woff2'),
    url('montserrat-v15-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
